FEELIX_ASYNC_BOT/
venv/
env/
.venv/
.env/
*.env

logs/
*.log

database/

feedbacks/
feedbacks.txt

save/

__pycache__/
*.pyc

.vscode/
.idea/

*.swp
*.tmp

*.secret
*.key
*.pem

text.txt
database/
*.db
test_database
milvus_test.py
milvus_docs

metrics/