FEELIX_ASYNC_BOT/
venv/
env/
.venv/
.env/
*.env

logs/
*.log

feedbacks/
feedbacks.txt

save/

__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.swp
*.swo
*.tmp
*.bak
*.orig

*.secret
*.key
*.pem

text.txt

*.db

database/