groq
python-telegram-bot
nest_asyncio
python-dotenv
httpx
pymilvus
pymilvus[model]
tqdm
requests
mem0ai
sentence-transformers
torch
# instead of torch do:
# pip install torch==2.5.0 torchvision==0.20.0 torchaudio==2.5.0 --index-url https://download.pytorch.org/whl/cpu